This notebook was created to check what other data could be extracted from the job descriptions.

Spacy will be used for this with en_core_web_lg.

In [1]:
import spacy

In [2]:
%%bash
python3.6 -m spacy download en_core_web_lg

Requirement already satisfied: en_core_web_lg==2.1.0 from https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.1.0/en_core_web_lg-2.1.0.tar.gz#egg=en_core_web_lg==2.1.0 in /Users/radu/work/reed/myenv/lib/python3.6/site-packages (2.1.0)
âœ” Download and installation successful
You can now load the model via spacy.load('en_core_web_lg')

You are using pip version 10.0.1, however version 19.0.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [3]:
import en_core_web_lg

nlp = en_core_web_lg.load()

In [4]:
import pandas as pd

job_data = pd.read_csv('processed_job_data.csv', index_col=0)

In [5]:
job_data.head()

,job_id,job_title,job_description,job_sector,clean_job_description,title_and_clean_desc,label_job_sector
0,19549447,Geography Teacher,<p>Forde Education are looking to recruit a Te...,Education,Forde Education are looking to recruit a Teach...,Geography Teacher Geography Teacher Geography ...,0
1,7447537,PPA Cover teacher,Teachers Plus is seeking to employ a fully qua...,Education,Teachers Plus is seeking to employ a fully qua...,PPA Cover teacher PPA Cover teacher PPA Cover ...,0
2,26969327,Higher Level Teaching Assistant,We are currently recruiting High Level Teachin...,Education,We are currently recruiting High Level Teachin...,Higher Level Teaching Assistant Higher Level T...,0
3,7447589,Yr 2 Teacher,A suitably qualified and experienced Yr 2 Teac...,Education,A suitably qualified and experienced Yr 2 Teac...,Yr 2 Teacher Yr 2 Teacher Yr 2 Teacher Yr 2 Te...,0
4,26978624,Science Teachers,<strong>Job Description</strong><br /><br />Mo...,Education,Job Description Most Secondary Schools require...,Science Teachers Science Teachers Science Teac...,0

Let's try to detect the following from the clean job description (if present):
- location
- company hiring
- person hiring
- e-mail of the person hiring

In [6]:
spacy_accepted_entity_types = {
    'PERSON': 'Person', 
    'GPE': 'Location', 
    'ORG': 'Company', 
    'MONEY': 'Salary',
}
minimum_number_of_characters_phone_number = 8

for i, row in job_data.iterrows():
    doc = nlp(row['clean_job_description'])
    for entity in doc.ents:
        if entity.label_ not in spacy_accepted_entity_types.keys():
            continue
        else:
            job_data.at[i, spacy_accepted_entity_types[entity.label_]] = entity.orth_

In [7]:
job_data.head(100)

,job_id,job_title,job_description,job_sector,clean_job_description,title_and_clean_desc,label_job_sector,Person,Company,Location,Salary
0,19549447,Geography Teacher,<p>Forde Education are looking to recruit a Te...,Education,Forde Education are looking to recruit a Teach...,Geography Teacher Geography Teacher Geography ...,0,Debbie Slater,GCSE,NaN,NaN
1,7447537,PPA Cover teacher,Teachers Plus is seeking to employ a fully qua...,Education,Teachers Plus is seeking to employ a fully qua...,PPA Cover teacher PPA Cover teacher PPA Cover ...,0,NaN,NaN,Wolverhampton,NaN
2,26969327,Higher Level Teaching Assistant,We are currently recruiting High Level Teachin...,Education,We are currently recruiting High Level Teachin...,Higher Level Teaching Assistant Higher Level T...,0,Monarch Education,SEN,UK,NaN
3,7447589,Yr 2 Teacher,A suitably qualified and experienced Yr 2 Teac...,Education,A suitably qualified and experienced Yr 2 Teac...,Yr 2 Teacher Yr 2 Teacher Yr 2 Teacher Yr 2 Te...,0,desirableApplications,ICT,Westminster,NaN
4,26978624,Science Teachers,<strong>Job Description</strong><br /><br />Mo...,Education,Job Description Most Secondary Schools require...,Science Teachers Science Teachers Science Teac...,0,John,Reed Education,NaN,NaN
5,7461623,TEACHER OF MATHS,A popular mixed Maidenhead secondary school i...,Education,A popular mixed Maidenhead secondary school i...,TEACHER OF MATHS TEACHER OF MATHS TEACHER OF M...,0,NaN,Mathâ€™s,NaN,NaN
6,26996572,Science Teacher,A successful Secondary School in the London Bo...,Education,A successful Secondary School in the London Bo...,Science Teacher Science Teacher Science Teache...,0,Acorn Appointments,the Home Counties,Essex,NaN
7,7494389,Nursery Manager,Fantastic Nursery Managers vacancy in a beaut...,Education,Fantastic Nursery Managers vacancy in a beaut...,Nursery Manager Nursery Manager Nursery Manage...,0,NaN,â€¢Knowledge,NaN,NaN
8,26127364,Nursery Deputy Manager,<p><strong>Nursery Deputy Manager</strong></p...,Education,Nursery Deputy Manager Â£16 000 - Â£19 000 ...,Nursery Deputy Manager Nursery Deputy Manager ...,0,NaN,Settling,Coventry,16 000 - Â£19 000
9,3565164,KS4 History (14/16 yr old),Teachers needed for various assignments Supply...,Education,Teachers needed for various assignments Supply...,KS4 History (14/16 yr old) KS4 History (14/16 ...,0,Stephen Wills,Monarch Education,NaN,NaN
10,26140189,Health and social care teacher,Are you a passionate Health and social care te...,Education,Are you a passionate Health and social care te...,Health and social care teacher Health and soci...,0,Monarch Education,Health,Birmingham,NaN
11,23767398,EBD/BESD Teaching Assistant Job in London,<p><strong>EBD Specialist SEN Teaching Assist...,Education,EBD Specialist SEN Teaching Assistant Fa...,EBD/BESD Teaching Assistant Job in London EBD...,0,SEN,Teaching Personnel,Lewisham,NaN
12,27000895,DT Teacher,A modern Secondary School in the London Boroug...,Education,A modern Secondary School in the London Boroug...,DT Teacher DT Teacher DT Teacher DT Teacher DT...,0,Acorn Appointments,the Home Counties,Essex,NaN
13,23767997,Music and Drama Teacher Required in Greenwich,<p>Job Title: Drama and Music Teacher (QTS) R...,Education,Job Title: Drama and Music Teacher (QTS) Req...,Music and Drama Teacher Required in Greenwich ...,0,NaN,PPS,Greenwich,125
14,27010215,Maths Teacher,MATHS TEACHER - WALTHAM FOREST EAST LONDON<br...,Education,MATHS TEACHER - WALTHAM FOREST EAST LONDON Th...,Maths Teacher Maths Teacher Maths Teacher Math...,0,Ben Reeves,The Education Network',London,100
15,23770413,Key Stage 1 Primary Teacher - BANES,<strong>Job Description</strong><br /><br />We...,Education,Job Description We are currently working with ...,Key Stage 1 Primary Teacher - BANES Key Stage ...,0,Reed,Reed Specialist Recruitment Limited,NaN,NaN
16,26145353,Early Years Primary Teacher,Capita Education Resourcing are seeking to app...,Education,Capita Education Resourcing are seeking to app...,Early Years Primary Teacher Early Years Primar...,0,Resourcing,CPD,Primary Schools,NaN
17,26229493,PE Teacher Required in Central Nottingham,A popular high achieving school located in th...,Education,A popular high achieving school located in th...,PE Teacher Required in Central Nottingham PE T...,0,Monarch Education,NQT,Nottingham,NaN
18,26147274,Teacher of ICT,<p><strong><u>Teacher of ICT (computing)</u><...,Education,Teacher of ICT (computing) We are currentl...,Teacher of ICT Teacher of ICT Teacher of ICT T...,0,Randle,a Secondary School,Balfor,NaN
19,26232935,HARINGEY - YR2 TEACHER - JAN START!!! APPLY NO...,<strong>Organisation Description</strong><br /...,Education,Organisation Description LA Haringey Job Descr...,HARINGEY - YR2 TEACHER - JAN START!!! APPLY NO...,0,Sophie Cruickshank,Reed Specialist Recruitment Limited,North London,100
20,27022459,Science Teacher - NQT required for a GOOD School!,<p>JOB DESCRIPTION</p> <p>Reeson Education is...,Education,JOB DESCRIPTION Reeson Education is lookin...,Science Teacher - NQT required for a GOOD Scho...,0,QTS,Reeson Education,UK,NaN
21,10889932,Project Officer,JOB SPECIFICATION <br /><br />1. Project deliv...,Education,JOB SPECIFICATION 1. Project delivery for a r...,Project Officer Project Officer Project Office...,0,NaN,NaN,NaN,NaN
22,19736428,SENCO needed asap for a Primary School,We are currently seeking a SENCO to work in a ...,Education,We are currently seeking a SENCO to work in a ...,SENCO needed asap for a Primary School SENCO n...,0,SEN,Quality Mark,Capita,NaN
23,10899857,PE Teacher,<strong>Are you creative and passionate about ...,Education,Are you creative and passionate about teaching...,PE Teacher PE Teacher PE Teacher PE Teacher PE...,0,NaN,Physical Education,Our Worcestershire,NaN
24,22310953,Room Leader - Southampton,<p>Asquith is the UKâ€™s leading provider of pr...,Education,Asquith is the UKâ€™s leading provider of prem...,Room Leader - Southampton Room Leader - Southa...,0,Asquith,Asquith Nurseries,Southampton,NaN
25,3572550,Assessor (Care),You will give information advice guidance an...,Education,You will give information advice guidance an...,Assessor (Care) Assessor (Care) Assessor (Care...,0,NaN,NVQ Training & Youth Support,Greater London,NaN
26,22311794,Science Teacher Job in Manchester,<p>The Education Network has become the suppl...,Education,The Education Network has become the supply ...,Science Teacher Job in Manchester Science Teac...,0,NaN,The Education Network,England,NaN
27,3623436,Science Teacher,Qualified Scence teacher required for a Second...,Education,Qualified Scence teacher required for a Second...,Science Teacher Science Teacher Science Teache...,0,NaN,NQT,Sunderland,NaN
28,20436989,Qualified Design Technology Teacher Required,<strong>Job Description</strong><br /><br />Th...,Education,Job Description This established secondary sch...,Qualified Design Technology Teacher Required Q...,0,NaN,Reed Specialist Recruitment Limited,NaN,NaN
29,3651374,Recruitment Agent,6 months Recruitment Experience Required\n\nTh...,Education,6 months Recruitment Experience Required\n\nTh...,Recruitment Agent Recruitment Agent Recruitmen...,0,NaN,Education,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
70,20080732,Lecturer in Motor Vehicle,Lecturer in Motor Vehicle <br /><br />&#163;23...,Education,Lecturer in Motor Vehicle Â£23 895pa - Â£27 708...,Lecturer in Motor Vehicle Lecturer in Motor Ve...,0,â€¢ Assessor,ASAP,â€¢,26 112pa
71,7808236,Apply NOW and Get paid DAILY!,Earn Upto Ã‚Â£1000 Per Week The Easy Way!\n\n:10...,Education,Earn Upto Ã‚Â£1000 Per Week The Easy Way!\n\n:10...,Apply NOW and Get paid DAILY! Apply NOW and Ge...,0,NaN,Full Training,U.K,NaN
72,20080865,Health and Socail Care,<strong>Job Description</strong><br /><br />Ar...,Education,Job Description Are you a secondary school tea...,Health and Socail Care Health and Socail Care ...,0,REED,Reed Specialist Recruitment Limited,Derbyshire,NaN
73,7885764,Simple Online Work - Â£100 per Hour!,*********ATTENTION: URGENTLY NEEDED*****\n\nCo...,Education,*********ATTENTION: URGENTLY NEEDED*****\n\nCo...,Simple Online Work - Â£100 per Hour! Simple Onl...,0,NaN,UK Registered Company,NaN,NaN
74,20446216,English Media,A Comprehensive Secondary school in Bedford re...,Education,A Comprehensive Secondary school in Bedford re...,English Media English Media English Media Engl...,0,Stephen Emery,Capita Education Resourcing,Bedford,NaN
75,7949227,Tutor,Could you be a tutor for Anysubject?\nYou don'...,Education,Could you be a tutor for Anysubject?\nYou don'...,Tutor Tutor Tutor Tutor Tutor Could you be a ...,0,Anysubject,Anysubject,NaN,NaN
76,20081689,Cover Supervisor,Celsian Education are currently recruiting for...,Education,Celsian Education are currently recruiting for...,Cover Supervisor Cover Supervisor Cover Superv...,0,NaN,Employment Business,UK,NaN
77,7969953,Apply NOW Start IMMEDIATELY,*******APPLY NOW - Start IMMEDIATELY! *****\n\...,Education,*******APPLY NOW - Start IMMEDIATELY! *****\n\...,Apply NOW Start IMMEDIATELY Apply NOW Start ...,0,NaN,UK Registered Company,NaN,NaN
78,20082241,Nursery Assistant - 2 positions,<p>Key point: 2 positions available. <br />Key...,Education,Key point: 2 positions available. Key point: ...,Nursery Assistant - 2 positions Nursery Assist...,0,NaN,a Recruitment Agency,Berks,NaN
79,7996079,Training Officer,A Llanelli based training provider are looking...,Education,A Llanelli based training provider are looking...,Training Officer Training Officer Training Off...,0,NaN,A/Ds,Llanelli,NaN
80,19551070,Nursery Nurse in Dorking,<p>This lovely school are looking for Nursery ...,Education,This lovely school are looking for Nursery Nur...,Nursery Nurse in Dorking Nursery Nurse in Dork...,0,NaN,NVQ,Childcare,NaN
81,8038400,Science teacher needed,Experienced Science teacher needed for the sum...,Education,Experienced Science teacher needed for the sum...,Science teacher needed Science teacher needed ...,0,NaN,GCSE,North London,NaN
82,19551211,Year 2 Teacher - North West London,Co-educational Preparatory School for boys and...,Education,Co-educational Preparatory School for boys and...,Year 2 Teacher - North West London Year 2 Teac...,0,Resourcing,Quality Mark,London,NaN
83,8123588,Nursery Teacher,Nursery Teacher required for a popular infant ...,Education,Nursery Teacher required for a popular infant ...,Nursery Teacher Nursery Teacher Nursery Teache...,0,Sonia,NaN,UK,NaN
84,19551380,Experienced School Administrator - Ilford Ess...,<p>Â Administrator is required to workÂ initiall...,Education,Administrator is required to workÂ initially o...,Experienced School Administrator - Ilford Ess...,0,â€¢ Act,Health & Safety,UK,NaN
85,8163778,KS1 Supply teachers in Portsmouth area,Qualified primary teachers needed to work in t...,Education,Qualified primary teachers needed to work in t...,KS1 Supply teachers in Portsmouth area KS1 Sup...,0,QTS,NaN,Portsmouth,NaN
86,19551742,PE teacher,An experienced Female PE Teacher is required t...,Education,An experienced Female PE Teacher is required t...,PE teacher PE teacher PE teacher PE teacher PE...,0,Resourcing,Quality Mark,Newham,NaN
87,8200134,English Teacher,English Teacher - A talented English teacher ...,Education,English Teacher - A talented English teacher ...,English Teacher English Teacher English Teache...,0,Emily Townsend,NaN,UK,NaN
88,20945016,QUALIFIED Secondary Teachers Required,Capita Education Resourcing are working on beh...,Education,Capita Education Resourcing are working on beh...,QUALIFIED Secondary Teachers Required QUALIFIE...,0,Resourcing,Quality Mark,UK,NaN
89,8223224,Year 2 teacher,Large Chelmsley Wood primary school require an...,Education,Large Chelmsley Wood primary school require an...,Year 2 teacher Year 2 teacher Year 2 teacher Y...,0,NaN,TeacherActive,West Midlands,NaN
90,20945087,Nursery Nurse,Are you an experienced Level 3 Qualified Nurse...,Education,Are you an experienced Level 3 Qualified Nurse...,Nursery Nurse Nursery Nurse Nursery Nurse Nurs...,0,Resourcing,Quality Mark Company,Capita,NaN
91,8225648,Sizzling Geography Teacher - Warwickshire - Lo...,This is an urgent requirement for a Geography ...,Education,This is an urgent requirement for a Geography ...,Sizzling Geography Teacher - Warwickshire - Lo...,0,Easter,Humanities,Warwickshire,NaN
92,20451023,Secondary Teacher,Calling all Secondary Teachers !! <br />Have y...,Education,Calling all Secondary Teachers !! Have you co...,Secondary Teacher Secondary Teacher Secondary ...,0,NaN,the Criminal Records Bureau,South Tyneside,NaN
93,8227429,Franchisee,Client: Franchise Opportunity â€“ Bordesley Inst...,Education,Client: Franchise Opportunity â€“ Bordesley Inst...,Franchisee Franchisee Franchisee Franchisee Fr...,0,NaN,Head Office,NaN,NaN
94,20452165,Primary Teacher,Key Stage 2 Teacher â€“ Newham â€“ September start...,Education,Key Stage 2 Teacher â€“ Newham â€“ September start...,Primary Teacher Primary Teacher Primary Teache...,0,QTS,NaN,UK,NaN
95,8328110,Science Teacher,Teacher of Science required full time from Eas...,Education,Teacher of Science required full time from Eas...,Science Teacher Science Teacher Science Teache...,0,NaN,Teaching Recruitment,UK,NaN
96,19738774,ICT Teachers,Capita Education are currently looking to recr...,Education,Capita Education are currently looking to recr...,ICT Teachers ICT Teachers ICT Teachers ICT Tea...,0,Capita,Quality Mark,UK,NaN
97,8343531,Geography Teacher,\nA person with drive and ambition is sought t...,Education,\nA person with drive and ambition is sought t...,Geography Teacher Geography Teacher Geography ...,0,NaN,NaN,NaN,NaN
98,19739442,Learning Resource Centre Assistant\t,<p>First choice for education &amp; training<b...,Education,First choice for education & training Outstand...,Learning Resource Centre Assistant\t Learning ...,0,NaN,Visit Brockenhurst College,NaN,NaN
99,8445657,D&T Teacher,D&T specialist required to cover maternity con...,Education,D&T specialist required to cover maternity con...,D&T Teacher D&T Teacher D&T Teacher D&T Teache...,0,NaN,D&T,NaN,NaN

The data does not look that great. In some cases the person detected is actually a company or something else. More work would be required in this area.

Let's also look at e-mail extraction:

In [8]:
import re

for i, row in job_data.iterrows():
    emails = re.findall(
        r'[\w\.-]+@[\w\.-]+\.[\w-]+', 
        row['clean_job_description']
    )
    if emails:
        job_data.at[i, 'E-mail'] = ' '.join(emails)

In [9]:
job_data.head(300)

,job_id,job_title,job_description,job_sector,clean_job_description,title_and_clean_desc,label_job_sector,Person,Company,Location,Salary,E-mail
0,19549447,Geography Teacher,<p>Forde Education are looking to recruit a Te...,Education,Forde Education are looking to recruit a Teach...,Geography Teacher Geography Teacher Geography ...,0,Debbie Slater,GCSE,NaN,NaN,NaN
1,7447537,PPA Cover teacher,Teachers Plus is seeking to employ a fully qua...,Education,Teachers Plus is seeking to employ a fully qua...,PPA Cover teacher PPA Cover teacher PPA Cover ...,0,NaN,NaN,Wolverhampton,NaN,NaN
2,26969327,Higher Level Teaching Assistant,We are currently recruiting High Level Teachin...,Education,We are currently recruiting High Level Teachin...,Higher Level Teaching Assistant Higher Level T...,0,Monarch Education,SEN,UK,NaN,NaN
3,7447589,Yr 2 Teacher,A suitably qualified and experienced Yr 2 Teac...,Education,A suitably qualified and experienced Yr 2 Teac...,Yr 2 Teacher Yr 2 Teacher Yr 2 Teacher Yr 2 Te...,0,desirableApplications,ICT,Westminster,NaN,NaN
4,26978624,Science Teachers,<strong>Job Description</strong><br /><br />Mo...,Education,Job Description Most Secondary Schools require...,Science Teachers Science Teachers Science Teac...,0,John,Reed Education,NaN,NaN,john.mcgee@reedglobal.com
5,7461623,TEACHER OF MATHS,A popular mixed Maidenhead secondary school i...,Education,A popular mixed Maidenhead secondary school i...,TEACHER OF MATHS TEACHER OF MATHS TEACHER OF M...,0,NaN,Mathâ€™s,NaN,NaN,NaN
6,26996572,Science Teacher,A successful Secondary School in the London Bo...,Education,A successful Secondary School in the London Bo...,Science Teacher Science Teacher Science Teache...,0,Acorn Appointments,the Home Counties,Essex,NaN,NaN
7,7494389,Nursery Manager,Fantastic Nursery Managers vacancy in a beaut...,Education,Fantastic Nursery Managers vacancy in a beaut...,Nursery Manager Nursery Manager Nursery Manage...,0,NaN,â€¢Knowledge,NaN,NaN,NaN
8,26127364,Nursery Deputy Manager,<p><strong>Nursery Deputy Manager</strong></p...,Education,Nursery Deputy Manager Â£16 000 - Â£19 000 ...,Nursery Deputy Manager Nursery Deputy Manager ...,0,NaN,Settling,Coventry,16 000 - Â£19 000,NaN
9,3565164,KS4 History (14/16 yr old),Teachers needed for various assignments Supply...,Education,Teachers needed for various assignments Supply...,KS4 History (14/16 yr old) KS4 History (14/16 ...,0,Stephen Wills,Monarch Education,NaN,NaN,NaN
10,26140189,Health and social care teacher,Are you a passionate Health and social care te...,Education,Are you a passionate Health and social care te...,Health and social care teacher Health and soci...,0,Monarch Education,Health,Birmingham,NaN,NaN
11,23767398,EBD/BESD Teaching Assistant Job in London,<p><strong>EBD Specialist SEN Teaching Assist...,Education,EBD Specialist SEN Teaching Assistant Fa...,EBD/BESD Teaching Assistant Job in London EBD...,0,SEN,Teaching Personnel,Lewisham,NaN,NaN
12,27000895,DT Teacher,A modern Secondary School in the London Boroug...,Education,A modern Secondary School in the London Boroug...,DT Teacher DT Teacher DT Teacher DT Teacher DT...,0,Acorn Appointments,the Home Counties,Essex,NaN,NaN
13,23767997,Music and Drama Teacher Required in Greenwich,<p>Job Title: Drama and Music Teacher (QTS) R...,Education,Job Title: Drama and Music Teacher (QTS) Req...,Music and Drama Teacher Required in Greenwich ...,0,NaN,PPS,Greenwich,125,NaN
14,27010215,Maths Teacher,MATHS TEACHER - WALTHAM FOREST EAST LONDON<br...,Education,MATHS TEACHER - WALTHAM FOREST EAST LONDON Th...,Maths Teacher Maths Teacher Maths Teacher Math...,0,Ben Reeves,The Education Network',London,100,NaN
15,23770413,Key Stage 1 Primary Teacher - BANES,<strong>Job Description</strong><br /><br />We...,Education,Job Description We are currently working with ...,Key Stage 1 Primary Teacher - BANES Key Stage ...,0,Reed,Reed Specialist Recruitment Limited,NaN,NaN,NaN
16,26145353,Early Years Primary Teacher,Capita Education Resourcing are seeking to app...,Education,Capita Education Resourcing are seeking to app...,Early Years Primary Teacher Early Years Primar...,0,Resourcing,CPD,Primary Schools,NaN,NaN
17,26229493,PE Teacher Required in Central Nottingham,A popular high achieving school located in th...,Education,A popular high achieving school located in th...,PE Teacher Required in Central Nottingham PE T...,0,Monarch Education,NQT,Nottingham,NaN,NaN
18,26147274,Teacher of ICT,<p><strong><u>Teacher of ICT (computing)</u><...,Education,Teacher of ICT (computing) We are currentl...,Teacher of ICT Teacher of ICT Teacher of ICT T...,0,Randle,a Secondary School,Balfor,NaN,NaN
19,26232935,HARINGEY - YR2 TEACHER - JAN START!!! APPLY NO...,<strong>Organisation Description</strong><br /...,Education,Organisation Description LA Haringey Job Descr...,HARINGEY - YR2 TEACHER - JAN START!!! APPLY NO...,0,Sophie Cruickshank,Reed Specialist Recruitment Limited,North London,100,NaN
20,27022459,Science Teacher - NQT required for a GOOD School!,<p>JOB DESCRIPTION</p> <p>Reeson Education is...,Education,JOB DESCRIPTION Reeson Education is lookin...,Science Teacher - NQT required for a GOOD Scho...,0,QTS,Reeson Education,UK,NaN,NaN
21,10889932,Project Officer,JOB SPECIFICATION <br /><br />1. Project deliv...,Education,JOB SPECIFICATION 1. Project delivery for a r...,Project Officer Project Officer Project Office...,0,NaN,NaN,NaN,NaN,NaN
22,19736428,SENCO needed asap for a Primary School,We are currently seeking a SENCO to work in a ...,Education,We are currently seeking a SENCO to work in a ...,SENCO needed asap for a Primary School SENCO n...,0,SEN,Quality Mark,Capita,NaN,NaN
23,10899857,PE Teacher,<strong>Are you creative and passionate about ...,Education,Are you creative and passionate about teaching...,PE Teacher PE Teacher PE Teacher PE Teacher PE...,0,NaN,Physical Education,Our Worcestershire,NaN,NaN
24,22310953,Room Leader - Southampton,<p>Asquith is the UKâ€™s leading provider of pr...,Education,Asquith is the UKâ€™s leading provider of prem...,Room Leader - Southampton Room Leader - Southa...,0,Asquith,Asquith Nurseries,Southampton,NaN,NaN
25,3572550,Assessor (Care),You will give information advice guidance an...,Education,You will give information advice guidance an...,Assessor (Care) Assessor (Care) Assessor (Care...,0,NaN,NVQ Training & Youth Support,Greater London,NaN,NaN
26,22311794,Science Teacher Job in Manchester,<p>The Education Network has become the suppl...,Education,The Education Network has become the supply ...,Science Teacher Job in Manchester Science Teac...,0,NaN,The Education Network,England,NaN,NaN
27,3623436,Science Teacher,Qualified Scence teacher required for a Second...,Education,Qualified Scence teacher required for a Second...,Science Teacher Science Teacher Science Teache...,0,NaN,NQT,Sunderland,NaN,NaN
28,20436989,Qualified Design Technology Teacher Required,<strong>Job Description</strong><br /><br />Th...,Education,Job Description This established secondary sch...,Qualified Design Technology Teacher Required Q...,0,NaN,Reed Specialist Recruitment Limited,NaN,NaN,NaN
29,3651374,Recruitment Agent,6 months Recruitment Experience Required\n\nTh...,Education,6 months Recruitment Experience Required\n\nTh...,Recruitment Agent Recruitment Agent Recruitmen...,0,NaN,Education,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
270,20170148,Primary Teacher,Primary Teacher <br />Are you an inspirational...,Education,Primary Teacher Are you an inspirational teac...,Primary Teacher Primary Teacher Primary Teache...,0,UK Naric,BSC,UK,NaN,NaN
271,10268622,PRIVATE TUTORS,Do you have a passion for teaching?\nAre you a...,Education,Do you have a passion for teaching?\nAre you a...,PRIVATE TUTORS PRIVATE TUTORS PRIVATE TUTORS P...,0,NaN,NaN,UK,NaN,NaN
272,20108167,Nursery Nurse,A long term / permanent position has become av...,Education,A long term / permanent position has become av...,Nursery Nurse Nursery Nurse Nursery Nurse Nurs...,0,Childcare,NNEB,BA,NaN,NaN
273,10461128,NVQ Assessor / Care Trainer,We seek a Care NVQ Assessor or Internal Verifi...,Education,We seek a Care NVQ Assessor or Internal Verifi...,NVQ Assessor / Care Trainer NVQ Assessor / Car...,0,NaN,D32 D33,Yorkshire,NaN,NaN
274,20108295,NVQ Assessor - Leisure,<strong>Job Description</strong><br /><br />My...,Education,Job Description My client a highly innovative ...,NVQ Assessor - Leisure NVQ Assessor - Leisure ...,0,A1 Assessor,Reed Specialist Recruitment Limited,England,NaN,NaN
275,10474959,TEACHER OF ENGLISH - NORTH LONDON,Several Schools situated within North London a...,Education,Several Schools situated within North London a...,TEACHER OF ENGLISH - NORTH LONDON TEACHER OF E...,0,Easter,Keystage 3 4,North London,NaN,NaN
276,20110876,Salsa Dance Fit Tutor,CREATIVE BALTI COOK WANTED TO TEACH OTHERS <br...,Education,CREATIVE BALTI COOK WANTED TO TEACH OTHERS Pr...,Salsa Dance Fit Tutor Salsa Dance Fit Tutor Sa...,0,Balti,Protocol National,Birmingham,NaN,NaN
277,10514772,Teachers,WE urgently required qualified secondary schoo...,Education,WE urgently required qualified secondary schoo...,Teachers Teachers Teachers Teachers Teachers ...,0,NaN,NaN,West Yorkshire,NaN,NaN
278,20111249,Primary Teacher,Capita Education Resourcing is one of the larg...,Education,Capita Education Resourcing is one of the larg...,Primary Teacher Primary Teacher Primary Teache...,0,Jay Mihcioglu,Quality Mark,Washington,NaN,NaN
279,10535957,Science and Maths Teacher,We are looking for a Teacher who is able to te...,Education,We are looking for a Teacher who is able to te...,Science and Maths Teacher Science and Maths Te...,0,NaN,Science,Sittingbourne,NaN,NaN
280,20111776,Derby City KS1 Teacher,Capita Education Resourcing is one of the larg...,Education,Capita Education Resourcing is one of the larg...,Derby City KS1 Teacher Derby City KS1 Teacher ...,0,Resourcing,Quality Mark,UK,NaN,NaN
281,10543490,Teacher of Maths and Science,A teacher of Maths and Science is required at ...,Education,A teacher of Maths and Science is required at ...,Teacher of Maths and Science Teacher of Maths ...,0,Exam Invigilators,K Recruitment,West Midlands,NaN,NaN
282,20170331,Chemistry Teachers,Capita Education Resourcing is one of the larg...,Education,Capita Education Resourcing is one of the larg...,Chemistry Teachers Chemistry Teachers Chemistr...,0,Vikki Robson,Quality Mark,Whitley,NaN,vikki.robson@capita.co
283,10571151,Art and Design Teacher Required For Long Term ...,An Art Teacher is required for this large Birm...,Education,An Art Teacher is required for this large Birm...,Art and Design Teacher Required For Long Term ...,0,NaN,TeacherActive,West Midlands,NaN,NaN
284,20170379,English Teacher,Capita Education Resourcing is one of the larg...,Education,Capita Education Resourcing is one of the larg...,English Teacher English Teacher English Teache...,0,SEN,Vikki at Capita Education Resourcing,Northumberland,NaN,NaN
285,10573484,MFL Teacher,This position will require the candidate to de...,Education,This position will require the candidate to de...,MFL Teacher MFL Teacher MFL Teacher MFL Teache...,0,KS4,Employment Business,NaN,NaN,NaN
286,20170509,PPA Cover - Hillingdon,PPA Cover â€“ Hillingdon <br /><br />Capita Educ...,Education,PPA Cover â€“ Hillingdon Capita Education is se...,PPA Cover - Hillingdon PPA Cover - Hillingdon ...,0,Hayes,Capita Education Resourcing,London,NaN,NaN
287,10598194,German Teacher,**Great location\n**Earn up to Â£750 per week\n...,Education,**Great location\n**Earn up to Â£750 per week\n...,German Teacher German Teacher German Teacher G...,0,NaN,Maidenhead,London,NaN,NaN
288,20170994,NQT s Needed - Bradford Area,<strong>Job Description</strong><br /><br /><s...,Education,Job Description Reed Education are now lookin...,NQT s Needed - Bradford Area NQT s Needed - Br...,0,Free CPD,Reed Specialist Recruitment Limited,â€¢,100,NaN
289,10606108,Payments Assistant - 12 month contract initially,Summary of position:\n\nDay to day preparation...,Education,Summary of position:\n\nDay to day preparation...,Payments Assistant - 12 month contract initial...,0,NaN,Oracle Financials 11i Accounts Payable,UK,NaN,NaN
290,20172000,Primary Teaching Job in Portsmouth,<p>Primary Teachers&nbsp;in Portsmouth needed ...,Education,Primary TeachersÂ in Portsmouth needed NOW! Are...,Primary Teaching Job in Portsmouth Primary Tea...,0,TimePlan,Key Coordinator,Portsmouth,NaN,NaN
291,10674577,Looking for Work?We can help!,Experience a beautiful scenery travel all aro...,Education,Experience a beautiful scenery travel all aro...,Looking for Work?We can help! Looking for Work...,0,NaN,NHI,NaN,NT$ 33,NaN
292,20172065,Year 1 Maternity cover,The school based In Haringey is looking to app...,Education,The school based In Haringey is looking to app...,Year 1 Maternity cover Year 1 Maternity cover ...,0,2 Minimum of,c.v,Haringey,NaN,NaN
293,10737573,Maths Teacher,<strong>Maths&nbsp;Teacher<br /><br /></strong...,Education,MathsÂ Teacher We are looking for flexible and ...,Maths Teacher Maths Teacher Maths Teacher Math...,0,Dawn,the General Teaching Council,Staffordshire,NaN,NaN
294,20174541,NVQ Assessor/Trainer-Warehouse Distribution Lo...,<p>We are looking for a Qualified NVQ Assessor...,Education,We are looking for a Qualified NVQ Assessor to...,NVQ Assessor/Trainer-Warehouse Distribution Lo...,0,NVQ Assessor,D32 D33 / A1,NaN,NaN,NaN
295,10761613,SOCIOLOGY LECTURER,REQUIRED ASAP - PART TIME SOCIOLOGY LECTURER&l...,Education,REQUIRED ASAP - PART TIME SOCIOLOGY LECTURER<b...,SOCIOLOGY LECTURER SOCIOLOGY LECTURER SOCIOLOG...,0,NaN,/><br,NaN,NaN,NaN
296,20174598,Art Teacher,<p>A fantastic opportunity has arisen for cove...,Education,A fantastic opportunity has arisen for cover s...,Art Teacher Art Teacher Art Teacher Art Teache...,0,NaN,The Consultants at Source Education,FE,NaN,NaN
297,10785921,female pe/dance,Are you a female PE and Dance teacher looking ...,Education,Are you a female PE and Dance teacher looking ...,female pe/dance female pe/dance female pe/danc...,0,Amelia,Dance,Cambridgeshire,NaN,NaN
298,20114245,KS1 and KS2 Teacher Basildon Essex,<p>Are you looking for work for Primary work i...,Education,Are you looking for work for Primary work in S...,KS1 and KS2 Teacher Basildon Essex KS1 and K...,0,KS1,Benfleet,UK,NaN,NaN
299,10900017,Cover Supervisor,I am urgently seeking as many Cover Invigilato...,Education,I am urgently seeking as many Cover Invigilato...,Cover Supervisor Cover Supervisor Cover Superv...,0,NaN,NaN,NaN,NaN,sian.pierre@reed.co.uk

The data extracted would probably be improved if we tried combining the results with other classifiers such as DbPedia Spotlight or by improving the Spacy Model.

In [10]:
job_data.to_csv('job_data_with_extra_information_extracted.csv')